html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    background-color: var(--colour-background);
    width: 100%;
    height: 100%;
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    min-height: 100%;
}