.site-block {
    padding: 20px;
    width: 100%;
    height: 400px;
    /* flex:1; */
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.site-block-grey {
    background: var(--colour-grey-background);
}

.site-block-top {
    /* flex: 2; */
    height: 600px;
}

.site-block-header-text {
    text-align: center;
    width: 25%;
}

.site-block-tagline {
    color: var(--color-tagline);
    width: 30%;
}