.site-facts-list{
    display: flex;

    align-items: center;

    /* gap: 20px; */
    flex-wrap: wrap;
    width: 90%;
    padding: 0;
    /* justify-content: center; */
}

.site-facts-list li {
    
}

.site-facts-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    align-content: center;
    flex: 0 0 33.333%; /* 3 items per row */
    box-sizing: border-box;

    p {
        margin: 8px 0;
    }
}

.site-facts-image {
    height: 64px;
    width: 64px;
    object-fit: contain;
}

.fact-title {
    font-weight: bold;
}